ul {

  background-color : #f8ebd8;
}
a:active{
  color: #869600
}
#task2 {
  color: #8696a7
}
#task3:hover{
  color: #8696a7
}
#invi p{
  padding:16px;
  text-align: center;
  display: none;
}
#invi:hover p{
  display: block;
}

#rotate{
  transition: transform 3s;
}
#rotate:hover{
  transform:rotate(180deg);
}

